@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== TIPTAP BASE STYLES ===== */
.ProseMirror {
  min-height: 220px;
  outline: none;
}

.ProseMirror p {
  margin: 0.5rem 0;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.25rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
  font-weight: 600;
}

.ProseMirror:focus {
  outline: none;
}
