.consultation-container {
  padding: 70px 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consultation-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 40px;
  text-align: center;
}

.consultation-form {
  background: #fff;
  padding: 40px 30px;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(46, 107, 248, 0.1);
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  color: #444;
  margin-bottom: 6px;
  font-weight: 500;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form-icon {
  position: absolute;
  left: 14px;
  color: #2e50f865;
  font-size: 1.1rem;
}

.input-controls,
textarea {
  width: 100%;
  padding: 12px 14px 12px 42px !important;
  border: 1.5px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  background: #fff;
  transition: all 0.3s ease;
}



input:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(127, 46, 248, 0.2);
  outline: none;
}


.submit-btn {
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}
.textarea-icon{
  position: absolute;
  left: 14px;
  top: 14px;
  color: #2e50f865;
  font-size: 1.1rem;
}
.submit-btn:hover {
  background-color: #4220d9;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .consultation-title {
    font-size: 2rem;
  }

  .consultation-form {
    padding: 30px 20px;
  }
}

@media (max-width: 480px) {
  .consultation-container {
    padding: 50px 15px;
  }

  .consultation-title {
    font-size: 1.8rem;
  }

  .consultation-form {
    padding: 25px 15px;
  }

  label {
    font-size: 0.95rem;
  }
}
